<library path="src">
  <class name="My Plugin" type="rqt_mypkg.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Interactable laucher for OptiTrack Robots.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>OptiTrack</label>
      <icon type="theme">system-help</icon>
      <statustip>OptiTrack GUI.</statustip>
    </qtgui>
  </class>
</library>
